---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ stig_id | lower }}
  namespace: compliance
  labels:
    name: {{ stig_id }}
data:
  entrypoint.sh: |
{% if stig_check_commands != '' %}
    #!/bin/bash
    ls /tmp
    echo ""
    echo "### Output ###"
    echo "Title: {{ stig_title }}"
    echo "Severity: {{ stig_severity }}"
    echo "Ident: {{ stig_ident }}"
    echo "Check: {{ stig_check_content | replace('\n', '\\n') }}"

{% for stig_check_command in stig_check_commands %}
    {{ stig_check_command }}
    TEST_RESULT=$?
    echo "TEST_RESULT = $TEST_RESULT"

    echo "If any of the follwing check commands fail, the STIG will fail."
    if [ "$TEST_RESULT" = "1" ]
    then
      echo "Check Command: {{ stig_check_command }} - ${red}FAILED${reset}"
      OVERALL_RESULT="1"
    elif [ "$TEST_RESULT" = "2" ]
    then
      OVERALL_RESULT="2"
    else
      echo "Check Command: {{ stig_check_command }} - ${green}PASSED${reset}"
    fi
{% endfor %}
    if [ $OVERALL_RESULT == "1" ]
    then
      echo "${red} STIG: {{ stig_id }} FAILED ${reset}"
      echo ""
      echo "Fix: {{ stig_fixtext | replace('\n', '\\n') }}"
      exit 1
    elif [ $OVERALL_RESULT == "2" ]
    then
      exit 2
    else
      echo "${green}{{ stig_id }} PASSED${reset}"
      exit 0
    fi

{% else %}
    {{ stig_test | indent(4) }}
{% endif %}
