---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ stig_id | lower }}"
  namespace: compliance
spec:
  template:
    spec:
      nodeSelector:
        kubernetes.io/role: master
      containers:
      - name: bash
        image: metacenterio/k8s-fortified
        command: 
        - /bin/entrypoint.sh
        securityContext:
          privileged: true
        volumeMounts:
        - name: configmap-volume
          mountPath: /bin/entrypoint.sh
          readOnly: true
          subPath: entrypoint.sh
        - name: dirpath
          mountPath: "{% if vol_mnt_path is defined %}{{ vol_mnt_path }}{% else %}{{ vol_path }}{% endif %}"
      volumes:
      - name: configmap-volume
        configMap:
          defaultMode: 0700
          name: "{{ stig_id | lower }}"
      - name: dirpath
        hostPath:
          path: "{{ vol_path }}"
      tolerations:
      - key: node-role.kubernetes.io/master
      restartPolicy: Never
  backoffLimit: 4