---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ stig_id | lower }}"
  namespace: compliance
spec:
  template:
    spec:
      nodeSelector:
        kubernetes.io/role: master
      containers:
      - name: bash
        image: mward29/gardenctl
        command: 
        - /bin/entrypoint.sh
        securityContext:
          privileged: true
        volumeMounts:
        - name: configmap-volume
          mountPath: /bin/entrypoint.sh
          readOnly: true
          subPath: entrypoint.sh
        - name: manifests
          mountPath: /etc/kubernetes/manifests
      volumes:
      - name: configmap-volume
        configMap:
          defaultMode: 0700
          name: "{{ stig_id }}"
      - name: manifests
        hostPath:
          path: /etc/kubernetes/manifests
      tolerations:
      - key: node-role.kubernetes.io/master
      restartPolicy: Never
  backoffLimit: 4