---
{% if msg is defined %}

{% for item in msg.resources %}

STIG name: {{ item.metadata.labels.reportname }}
Status: 
{%- if item.status.conditions is defined -%}
  {%- for stat in item.status.containerStatuses -%}
    {%- if stat.state.terminated.exitCode == 0 -%}
       Success
    {% else -%}
       Failed
    {% endif %}
  {% endfor %}
{% endif %}
{%- if item.status.active is defined %}
   Inprogress - Execute 'ansible-playbook check-kubernetes-stig-compliance.yml --tags "report"' to update report.
{% endif %}

{% endfor %}

{% endif %}

{% if podlogs is defined %}
{{ podlogs }}
{% endif %}